<h2>Stupid Coaching</h2>


<div class="student">
  <p> <%= @question %> </p>

  <p>– You</p>
</div>

<div class="coach">
  <p id="bold"> <%= @answer %> </p>

  <p>– Your coach</p>
</div>

<%= link_to "Ask a new question", ask_path %>
